.list {
    margin-left:20px; 
    &__item {
        margin-bottom: 30px;
        background-color: rgba(36, 36, 36, 0.836);
        display: flex;
        justify-content:space-between;
        list-style:none;
        padding: 5px;
        width: 450px;
        box-shadow: 0 4px 10px -4px black;
        border-radius:4px;
        color: #fff;
    }
    &__name {
        margin: 0;
        padding: 0;
        text-align: start;
    }
    &__contact {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    &__btn {
        color: inherit;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        transition: all 250ms linear;
        outline: none;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            color: rgb(255, 0, 0)
        }
    }
}