.enter {
    opacity: 0;
    transform: translateY(100%);
  }
  
  .enterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 250ms ease-in-out;
  }
  
  .exit {
    opacity: 1;
  }
  
  .exitActive {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
  